PORT=8000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/ServeEase
ACCESS_TOKEN_SECRET=change_me
REFRESH_TOKEN_SECRET=change_me
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=10d
CORS_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
